{% extends 'horoscope/base.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block body %}
<div class="b-example-divider"></div>

<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">Ваш гороскоп!</h1>
        <form method="post">
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">Хотели ли вы знать что будет с вами?</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href='/api/' type="submit" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Получить гороскоп</a>
            </div>
        </div>
        </form>
    </div>
</div>
<div class="b-example-divider mb-0"></div>



<script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{% endblock %}
